.product {
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  padding-right: 18px;
  padding-bottom: 24px;
  padding-left: 19px;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;
    flex-direction: column;
    width: 324px;
    padding-right: 0;
    padding-bottom: 40px;
    padding-left: 0;
  }

  .product:not(.product--last) {
    background: linear-gradient(to top, #f2f2f2 431px, #ffffff 431px);
  }
}

@media (min-width: $desktop-width) {
  .product {
    width: 245px;
  }
}
