.product--last {
  position: relative;
  padding-top: 63px;
}

.product--last::after {
  position: absolute;
  content: "";
  top: 26px;
  left: 144px;
  width: 31px;
  height: 31px;
  background-image: url("../img/icon-plus-mobile.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.2;
}

.product--last .product__button {
  margin-top: 0;
  color: #444444;
  background-color: #f2f2f2;
}

.product--last .product__button:hover,
.product--last .product__button:focus {
  outline: none;
  background-color: #ebebeb;
}

.product--last .product__button:active {
  color: rgba(68, 68, 68, 0.3);
}

.product--last .product__title {
  width: 207px;
  margin-bottom: 8px;
  margin-left: 37px;
  padding-left: 3px;
}

@media (min-width: $tablet-width) {
  .product--last {
    align-self: flex-end;
    padding-top: 143px;
    padding-bottom: 39px;
    border: 1px solid #cdcdcd;
  }

  .product--last::after {
    top: 54px;
    left: 132px;
    width: 61px;
    height: 61px;
    background-image: url("../img/icon-plus.svg");
  }

  .product--last .product__title {
    width: 137px;
    margin-right: auto;
    margin-bottom: 27px;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .product--last::after {
    left: 92px;
  }
}
