.page-main__photo {
  position: absolute;
  content: "";
  top: 166px;
  left: 0;
  right: 0;
  width: 280px;
  height: 271px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-main__photo {
    top: 242px;
    width: 709px;
    height: 609px;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .page-main__photo {
    top: 13px;
    left: 232px;
    width: 552px;
    height: 499px;
  }
}
