.social__link {
  padding: 10px;
}

.social__link svg {
  fill: #666666;
}

.social__link:hover,
.social__link:focus {
  outline: none;
}

.social__link:hover svg,
.social__link:focus svg {
  fill: #68b738;
}

.social__link:active svg {
  opacity: 0.3;
}
