.selection__item {
  @include font(400);
  width: 280px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #222222;
}

.selection__item:nth-child(2) .cat__text {
  margin-left: 17px;
}

.selection__item:nth-child(3) .cat__text {
  margin-left: 15px;
}

.selection__item:nth-child(2) .owner__text {
  margin-left: 10px;
}

@media (min-width: $tablet-width) {
  .selection__item {
    width: 630px;
    font-size: 20px;
    line-height: 20px;
  }

  .selection__item:nth-child(2) .cat__text {
    margin-left: 20px;
  }

  .selection__item:nth-child(3) .cat__text {
    margin-left: 17px;
  }

  .selection__item:nth-child(2) .owner__text {
    margin-left: 16px;
    padding-left: 19px;
  }
}

@media (min-width: $desktop-width) {
  .selection__item:nth-child(2) .owner__text {
    margin-left: 17px;
    padding-left: 18px;
  }
}
