.purpose__data {
  position: relative;
  display: block;
  cursor: pointer;
}

.purpose__radio + .purpose__data::before {
  position: absolute;
  content: "";
  top: -6px;
  left: -46px;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%;
}

.purpose__radio:checked + .purpose__data::after {
  position: absolute;
  content: "";
  top: 3px;
  left: -37px;
  width: 12px;
  height: 12px;
  background-color: #68b738;
  border-radius: 50%;
}

.purpose__radio:hover + .purpose__data::before,
.purpose__radio:focus + .purpose__data::before {
  border-color: #bababa;
}

.purpose__data:active {
  opacity: 0.3;
}

.purpose__radio:disabled + .purpose__data,
.purpose__radio:disabled + .purpose__data::before {
  opacity: 0.5;
  cursor: default;
}

@media (min-width: $tablet-width) {
  .purpose__radio + .purpose__data::before {
    top: -9px;
    left: -60px;
    width: 40px;
    height: 40px;
  }

  .purpose__radio:checked + .purpose__data::after {
    top: 2px;
    left: -49px;
    width: 18px;
    height: 18px;
  }
}
