.other-catalog__list {
  @include list;
  display: flex;
  flex-direction: column;
  margin-bottom: 39px;
}

@media (min-width: $tablet-width) {
  .other-catalog__list {
    margin-bottom: 69px;
  }
}

@media (min-width: $desktop-width) {
  .other-catalog__list {
    margin-bottom: 0;
  }
}
