.stats__text {
  @include font(400);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .stats__text {
    margin-top: -4px;
    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .stats__text {
    margin-top: 0;
  }
}
