.example {
  width: 280px;
  margin: 0 auto;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .example {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    width: 1220px;
  }
}
