.example {
  width: 320px;
  margin: 0 auto;
  padding-top: 17px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .example {
    position: relative;
    width: 768px;
    padding-top: 44px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #ffffff;
  }

  .example::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #cdcdcd;
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

@media (min-width: $desktop-width) {
  .example {
    display: flex;
    width: 1300px;
    padding-top: 24px;
    padding-right: 40px;
    padding-bottom: 54px;
    padding-left: 40px;
  }

  .example::before {
    display: none;
  }
}
