.page-main__text {
  @include font(400);
  width: 226px;
  // margin-bottom: 32px;
  margin-bottom: 33px;
  margin-left: 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    width: 323px;
    margin-bottom: 59px;
    margin-left: 41px;
    padding-top: 30px;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .page-main__text {
    margin-left: 0;
  }
}
