.page-main__text {
  @include font(400);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main__text {
    font-size: 20px;
    line-height: 30px;
  }
}
