.page-header {
  @include font(400);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 280px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
  }
}
