.other-catalog__promo-text {
  width: 162px;
  margin: 0 auto;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .other-catalog__promo-text {
    margin: 0;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .other-catalog__promo-text {
    margin: 0 auto;
    text-align: center;
  }
}
