.page-footer__copyright {
  width: 280px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    width: 163px;
    margin-top: 0;
    margin-right: 0;
  }
}

@media (min-width: $tablet-width) {
  .page-footer__copyright {
    margin-top: -2px;
  }
}
