.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 14px;
  display: block;
  width: 35px;
  height: 29px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}
