.other-product__button {
  @include font(400);
  display: block;
  width: 280px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 2px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .other-product__button {
    width: 633px;
    padding-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .other-product__button {
    width: 245px;
    margin-left: 35px;
    padding-left: 2px;
    align-self: flex-start;
  }
}
