.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__toggle {
  position: absolute;
  top: -47px;
  right: 14px;
  display: block;
  width: 35px;
  height: 29px;
  border: none;
  background-color: #ffffff;
  cursor: pointer;
}

.main-nav--closed .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 25px;
  height: 19px;
  background-image: url("../img/icon-mobile-menu.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.main-nav--opened .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 8px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .site-list {
    position: static;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .main-nav__toggle {
    display: none;
  }
}
