.page-header {
  @include font(400);
  display: flex;
  flex-wrap: wrap;
  width: 320px;
  margin: 0 auto;
  padding-top: 11px;
  border-bottom: 1px solid #cdcdcd;
}

.page-header__logo {
  padding-bottom: 13px;
  padding-left: 20px;
}

.page-header__logo:hover,
.page-header__logo:focus {
  outline: none;
  opacity: 0.8;
}

.page-header__logo:active {
  opacity: 0.6;
}

.page-header__nav {
  margin-left: auto;
}

.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header {
    width: 708px;
    padding-top: 24px;
    border-bottom: none;
  }

  .page-header__logo {
    margin-left: -1px;
    padding-left: 0;
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
  }

  .page-header__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    width: 1220px;
    padding-top: 53px;
  }

  .page-header__logo img {
    width: 203px;
    height: 60px;
  }

  .page-header__wrapper {
    width: 1220px;
  }

  .page-header--initial {
    position: relative;
    width: 100%;
  }

  .page-header--initial::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 50%;
    height: 696px;
    background-color: #64a83b;
    background-image:
      url("../img/index-background-desktop@1x.webp"),
      url("../img/index-background-desktop@1x.jpg");
    background-position: top right;
    background-repeat: no-repeat;
    z-index: -2;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image:
        url("../img/index-background-desktop@2x.webp"),
        url("../img/index-background-desktop@2x.jpg");
      background-size: cover;
    }
  }

  .page-header--initial .site-list__item--active {
    border-bottom: 2px solid #ffffff;
  }

  .page-header--initial .site-list__link {
    color: #ffffff;
  }
}
