.slider__toggle {
  @include font(400);
  border: none;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  cursor: pointer;
  outline: none;
}

@media (min-width: $tablet-width) {
  .slider__toggle {
    padding: 0;
    padding-bottom: 6px;
    border-bottom: 1px dotted #dcdcdc;
    font-size: 20px;
  }

  .slider__toggle:hover,
  .slider__toggle:focus {
    border-bottom: 1px solid #dcdcdc;
  }

  .slider__toggle:active {
    border-bottom: none;
  }
}
