.social__item {
  margin-right: 16px;
}

.social__item:first-child {
  margin-top: -5px;
}

.social__item:nth-child(2) {
  margin-right: 20px;
}

.social__item:last-child {
  margin-right: 0;
}

@media (min-width: $tablet-width) {
  .social__item {
    margin-right: 8px;
  }

  .social__item:nth-child(2) {
    margin-top: -2px;
    margin-right: 8px;
  }

  .social__item:last-child {
    margin-top: -4px;
  }
}
