.other-catalog__promo {
  width: 280px;
  min-height: 289px;
  margin: 0 auto;
  padding-top: 187px;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-color: #68b738;
}

@media (min-width: $tablet-width) {
  .other-catalog__promo {
    width: 708px;
    min-height: 200px;
    padding-top: 72px;
    padding-left: 423px;
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #68b738;
  }
}

@media (min-width: $desktop-width) {
  .other-catalog__promo {
    width: 245px;
    min-height: 289px;
    margin-left: 80px;
    padding: 0;
    padding-top: 187px;
    align-self: flex-start;
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-color: #68b738;
  }
}
