.page-header__logo {
  padding-bottom: 13px;
  padding-left: 20px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    margin-left: -1px;
    padding-left: 0;
  }

  .page-header__logo img {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo img {
    width: 203px;
    height: 60px;
  }
}
