.selection__text {
  padding-left: 2px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .selection__text {
    font-size: 16px;
  }
}
