.catalog__item {
  border: 1px solid #ededed;
  border-bottom: none;
}

.catalog__item:last-child {
  border-bottom: 1px solid #ededed;
}

@media (min-width: $tablet-width) {
  .catalog__item {
    margin-right: 60px;
    margin-bottom: 58px;
    border: none;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .catalog__item {
    margin-right: 80px;
    margin-bottom: 61px;
  }

  .catalog__item:nth-child(2n) {
    margin-right: 80px;
  }

  .catalog__item:nth-child(4n) {
    margin-right: 0;
  }
}
