@media (min-width: $tablet-width) {
  .selection__wrapper-bottom {
    display: flex;
    justify-content: space-between;
    width: 522px;
    margin-left: 41px;
    padding-bottom: 54px;
  }
}

@media (min-width: $desktop-width) {
  .selection__wrapper-bottom {
    width: 829px;
    margin-left: 1px;
    padding-bottom: 64px;
  }
}
