.info__big {
  display: none;
}

@media (min-width: $tablet-width) {
  .info__big {
    @include font(400);
    display: block;
    margin: 0;
    margin-top: -39px;
    padding: 0;
    font-size: 281px;
    line-height: 281px;
    color: #f2f2f2;
  }
}
