.site-list__item {
  border-top: 1px solid #cdcdcd;
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }

  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .site-list__item {
    padding: 0 17px;
    border: none;
  }

  .site-list__item:first-child {
    padding-left: 0;
  }

  .site-list__item:last-child {
    padding-right: 0;
  }
}
