.site-list__item {
  border-top: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 34px;
    border: none;
  }

  .site-list__item:nth-child(2) {
    margin-right: 37px;
  }

  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-right: 35px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 34px;
  }
}
