.additionally {
  // margin-bottom: 5px;
  margin-bottom: 7px;
}

.additionally .selection__item {
  margin-bottom: 24px;
  padding-left: 46px;
}

.additionally .selection__item:first-child {
  margin-bottom: 25px;
}

.additionally .selection__parameter {
  position: relative;
  // margin-bottom: 33px;
  margin-bottom: 35px;
  margin-left: 3px;
}

.additionally .selection__parameter::after {
  position: absolute;
  content: "";
  top: 14px;
  width: 3000px;
  height: 3px;
  margin-left: 23px;
  background-color: #68b738;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .additionally {
    // margin-bottom: 0;
    margin-bottom: 3px;
  }

  .additionally .selection__item {
    width: 250px;
    margin-right: 71px;
    margin-bottom: 52px;
    margin-left: 23px;
    padding-left: 58px;
  }

  .additionally .selection__item:nth-child(2n) {
    margin-right: 0;
  }

  .additionally .selection__parameter {
    width: 100%;
    // margin-bottom: 59px;
    margin-bottom: 60px;
    margin-left: 22px;
  }

  .additionally .selection__parameter::before {
    position: absolute;
    content: "";
    top: 22px;
    right: 713px;
    width: 1000px;
    height: 3px;
    background-color: #68b738;
    background-position: 0 0;
    background-repeat: no-repeat;
  }

  .additionally .selection__parameter::after {
    top: 22px;
    margin-left: 43px;
  }
}

@media (min-width: $desktop-width) {
  .additionally {
    margin-right: 0;
    // margin-bottom: 8px;
    margin-bottom: 10px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }

  .additionally .selection__item {
    margin-right: 75px;
    margin-left: 0;
  }

  .additionally .selection__item:nth-child(2n) {
    margin-right: 75px;
  }

  .additionally .selection__item:nth-child(4n) {
    width: 245px;
    margin-right: 0;
  }

  .additionally .selection__parameter {
    margin-bottom: 61px;
    margin-left: -1px;
  }

  .additionally .selection__parameter::before {
    right: 1259px;
  }
}
