.stats__weight {
  margin-bottom: 34px;
}

@media (min-width: $tablet-width) {
  .stats__weight {
    margin-right: 42px;
  }
}

@media (min-width: $desktop-width) {
  .stats__weight {
    margin-bottom: 33px;
  }
}
