.info__item {
  position: relative;
  width: 280px;
  margin-bottom: 20px;
}

.info__item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.info__item:nth-child(1)::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-leaf@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-leaf@2x.png");
    background-size: cover;
  }
}

.info__item:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 4px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-powder@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-powder@2x.png");
    background-size: cover;
  }
}

.info__item:nth-child(3)::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 4px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-dining@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-dining@2x.png");
    background-size: cover;
  }
}

.info__item:nth-child(4)::after {
  position: absolute;
  content: "";
  top: 5px;
  left: 5px;
  width: 50px;
  height: 50px;
  background-image: url("../img/advantage-clock@1x.png");
  background-position: 0 0;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/advantage-clock@2x.png");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .info__item {
    display: flex;
    width: 245px;
    margin-right: 139px;
    margin-bottom: 75px;
  }

  .info__item:nth-child(2n) {
    margin-right: 79px;
  }

  .info__item:nth-child(3) {
    margin-bottom: 20px;
  }

  .info__item:nth-child(4) {
    margin-bottom: 20px;
  }

  .info__item::before {
    width: 80px;
    height: 80px;
  }

  .info__item:nth-child(1)::after {
    top: 15px;
    left: 15px;
  }

  .info__item:nth-child(2)::after {
    top: 15px;
    left: 15px;
  }

  .info__item:nth-child(3)::after {
    top: 15px;
    left: 15px;
  }

  .info__item:nth-child(4)::after {
    top: 15px;
    left: 15px;
  }
}

@media (min-width: $desktop-width) {
  .info__item {
    margin-right: 80px;
    margin-bottom: 10px;
  }

  .info__item:nth-child(3) {
    margin-bottom: 10px;
  }

  .info__item:nth-child(4) {
    margin-bottom: 10px;
  }

  .info__item:nth-child(2n) {
    margin-right: 80px;
  }

  .info__item:nth-child(4n) {
    margin-right: 0;
  }
}
