.info__item {
  width: 280px;
}

@media (min-width: $tablet-width) {
  .info__item {
    width: 245px;
    margin-right: 139px;
  }

  .info__item:nth-child(2n) {
    margin-right: 79px;
  }
}

@media (min-width: $desktop-width) {
  .info__item {
    margin-right: 80px;
  }

  .info__item:nth-child(4n) {
    margin-right: 0;
  }
}
