.example__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-right: 19px;
  padding-bottom: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .example__wrapper {
    width: 768px;
    padding-right: 30px;
    padding-bottom: 71px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .example__wrapper {
    width: 473px;
    margin: 0;
    margin-top: 55px;
    padding-bottom: 20px;
    padding-left: 40px;
  }
}
