.other-product__title {
  @include font(400);
  margin: 0;
  margin-bottom: 11px;
  margin-left: 1px;
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .other-product__title {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .other-product__title {
    margin: 0;
  }
}
