.site-list__link {
  @include font(500);
  display: block;
  width: 320px;
  padding-top: 24px;
  padding-bottom: 22px;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
