.info__title {
  @include font(400);
  margin: 0;
  margin-bottom: 28px;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .info__title {
    margin-bottom: 72px;
    font-size: 60px;
  }
}
