.program {
  position: relative;
  width: 280px;
  margin: 0 auto;
  padding-top: 6px;
  padding-bottom: 18px;
  padding-left: 20px;
  background-color: #f2f2f2;
}

.program::before {
  position: absolute;
  content: "";
  top: 24px;
  left: 22px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #68b738;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program::after {
  position: absolute;
  content: "";
  top: 22px;
  left: 30px;
  width: 35px;
  height: 49px;
  background-image: url("../img/icon-cat-slim.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program:nth-child(2)::after {
  position: absolute;
  content: "";
  top: 35px;
  left: 13px;
  width: 67px;
  height: 28px;
  background-image: url("../img/icon-cat-pro.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program:nth-child(2) .program__link::after {
  right: -38px;
}

.program:nth-child(2) .program__link:hover::after,
.program:nth-child(2) .program__link:focus::after {
  right: -47px;
}

@media (min-width: $tablet-width) {
  .program {
    width: 708px;
    padding-top: 40px;
    padding-bottom: 58px;
    padding-left: 52px;
  }

  .program::before {
    top: 92px;
    left: 447px;
    width: 200px;
    height: 200px;
  }

  .program::after {
    top: 80px;
    left: 475px;
    width: 141px;
    height: 194px;
  }

  .program:nth-child(2)::after {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 113px;
  }

  .program:nth-child(2) .program__link::after {
    right: -47px;
  }

  .program:nth-child(2) .program__link:hover::after,
  .program:nth-child(2) .program__link:focus::after {
    right: -56px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    width: 570px;
    margin: 0;
  }

  .program::before {
    top: 47px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .program::after {
    top: 41px;
    left: 65px;
    width: 71px;
    height: 97px;
  }

  .program:nth-child(2)::after {
    top: 69px;
    left: 34px;
    width: 134px;
    height: 57px;
  }

  .program:nth-child(2) .program__link::after {
    top: 10px;
  }
}
