.program__text {
  position: relative;
  width: 226px;
  margin-bottom: 39px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.program__text::after {
  position: absolute;
  content: "";
  bottom: -23px;
  left: 0;
  width: 240px;
  height: 1px;
  background-color: #cdcdcd;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .program__text {
    width: 372px;
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
  }

  // .programs__item:last-child .program__text {
  //   width: 341px;
  // }

  .program__text::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  // .programs__item:last-child .program__text,
  .program__text {
    width: 464px;
    margin-bottom: 31px;
  }
}
