.page-main__title {
  @include font(400);
  margin: 0;
  margin-left: 20px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-left: 0;
    font-size: 60px;
    text-align: left;
  }
}
