.page-main__title {
  @include font(400);
  margin: 0;
  margin-left: 20px;
  margin-bottom: 25px;
  font-size: 36px;
  line-height: 60px;
}

.page-main--initial .page-main__title {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 25px;
  line-height: 36px;
  color: #ffffff;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__title {
    margin-left: 0;
    font-size: 60px;
    text-align: left;
  }

  .page-main--initial .page-main__title {
    @include font(400);
    width: 415px;
    margin-left: 87px;
    margin-bottom: 41px;
    line-height: 60px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-main--initial .page-main__title {
    margin-left: 120px;
  }
}
