.product__button {
  @include font(400);
  position: relative;
  display: block;
  width: 280px;
  margin-top: -5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 4px;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  background-color: #68b738;
  z-index: 2;
}

.product__button:hover,
.product__button:focus {
  outline: none;
  background-color: #5eaa2f;
}

.product__button:active {
  color: rgba(255, 255, 255, 0.3);
}

// .product--last .product__button {
//   margin-top: 0;
//   color: #444444;
//   background-color: #f2f2f2;
// }

// .product--last .product__button:hover,
// .product--last .product__button:focus {
//   outline: none;
//   background-color: #ebebeb;
// }

// .product--last .product__button:active {
//   color: rgba(68, 68, 68, 0.3);
// }

@media (min-width: $tablet-width) {
  .product__button {
    margin: 0 auto;
    width: 249px;
  }
}

@media (min-width: $desktop-width) {
  .product__button {
    width: 169px;
  }
}
