.stats__money {
  @include font(400);
  margin-left: 3px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .stats__money {
    margin-top: -11px;
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .stats__money {
    margin-top: 0;
  }
}
