.other-product {
  display: flex;
  flex-direction: column;
  width: 280px;
  padding-top: 13px;
  padding-bottom: 17px;
  border-top: 1px solid #cdcdcd;
}

.other-product:last-child {
  border-bottom: 1px solid #cdcdcd;
}

@media (min-width: $tablet-width) {
  .other-product {
    flex-direction: row;
    flex-wrap: wrap;
    width: 708px;
    padding-top: 25px;
    padding-right: 36px;
    padding-bottom: 27px;
    padding-left: 37px;
    border: 1px solid #cdcdcd;
  }

  .other-product:not(:last-child) {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .other-product {
    width: 895px;
    padding-top: 15px;
    padding-right: 0;
    padding-bottom: 16px;
    padding-left: 1px;
    border-right: none;
    border-left: none;
    align-items: center;
  }
}
