.page-footer__map {
  display: block;
  width: 320px;
  height: 400px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-footer__map {
    width: 767px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__map {
    width: 1440px;
    height: 400px;
  }
}
