.product__wrapper {
  padding-top: 5px;
}

@media (min-width: $tablet-width) {
  .product__wrapper {
    padding-top: 12px;
    padding-left: 2px;
  }
}

@media (min-width: $desktop-width) {
  .product__wrapper {
    padding-left: 0;
  }
}
