.page-main__top {
  margin-bottom: 135px;
  padding-top: 27px;
  padding-bottom: 167px;
  background-color: #64a83b;
  background-image:
    url("../img/index-background-mobile@1x.webp"),
    url("../img/index-background-mobile@1x.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 320px 305px;

  @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
    background-image:
      url("../img/index-background-mobile@2x.webp"),
      url("../img/index-background-mobile@2x.jpg");
    background-size: cover;
  }
}

@media (min-width: $tablet-width) {
  .page-main__top {
    width: 708px;
    margin: 0 auto;
    margin-bottom: 0;
    padding-top: 41px;
    padding-bottom: 48px;
    background: none;
  }
}

@media (min-width: $desktop-width) {
  .page-main__top {
    width: 1300px;
    padding-top: 93px;
    padding-bottom: 53px;
  }
}
