.owner__phone {
  position: absolute;
  content: "";
  top: 12px;
  right: 13px;
  width: 21px;
  height: 21px;
  fill: #222222;
}

.owner__text:focus + .owner__phone,
.owner__text:active + .owner__phone {
  fill: #68b738;
}

.owner__text:not(:placeholder-shown):invalid + .owner__phone {
  fill: #ff8282;
}

@media (min-width: $tablet-width) {
  .owner__phone {
    top: 16px;
    right: 18px;
  }
}

@media (min-width: $desktop-width) {
  .owner__phone {
    right: 19px;
  }
}
