.main-nav--opened .main-nav__toggle::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 8px;
  width: 19px;
  height: 19px;
  background-image: url("../img/icon-close.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}
