.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 280px;
  margin: 0 auto;
  padding-top: 29px;
  padding-bottom: 15px;
}

.page-footer__wrapper::before {
  position: absolute;
  content: "";
  top: 94px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fefefe;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.page-footer__wrapper::after {
  position: absolute;
  content: "";
  top: 157px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fefefe;
  background-position: 0 0;
  background-repeat: no-repeat;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 708px;
    padding-top: 54px;
    padding-bottom: 48px;
  }

  .page-footer__wrapper::before,
  .page-footer__wrapper::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1220px;
    padding-top: 53px;
  }
}
