.page-main__slogan {
  @include font(400);
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .page-main__slogan {
    @include font(400);
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
}
