.program__link {
  @include font(400);
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

.program__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}
