.program__link {
  @include font(400);
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .program__link {
    width: 708px;
    font-size: 20px;
    line-height: 20px;
  }
}
