.program__link {
  @include font(400);
  position: relative;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.program__link::after {
  position: absolute;
  content: "";
  top: 7px;
  right: -36px;
  width: 25px;
  height: 12px;
  background-image: url("../img/icon-right-arrow-long.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
}

.program__link:hover,
.program__link:focus {
  outline: none;
}

.program__link:hover::after,
.program__link:focus::after {
  background-image: url("../img/icon-right-arrow-verylong.svg");
  right: -45px;
  width: 34px;
  height: 12px;
}

.program__link:active {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .program__link {
    font-size: 20px;
    line-height: 20px;
  }

  .program__link::after {
    top: 10px;
    right: -48px;
    width: 24px;
    height: 11px;
  }

  .program__link:hover::after,
  .program__link:focus::after {
    right: -57px;
  }
}

@media (min-width: $desktop-width) {
  .program__link::after {
    top: 9px;
    right: -49px;
    width: 25px;
    height: 12px;
  }

  .program__link:hover::after,
  .program__link:focus::after {
    right: -58px;
  }
}
