.page-header__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    width: 708px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    width: 1220px;
  }
}
